
@font-face {
  font-family: 'Avenir-Book';
  src: url('wfonts/avenir/Avenir-Book.eot'); /* IE9 Compat Modes */
  src: url('fonts/avenir/Avenir-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/avenir/Avenir-Book.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/avenir/Avenir-Book.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('wfonts/avenir/Avenir-Heavy.eot'); /* IE9 Compat Modes */
  src: url('fonts/avenir/Avenir-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/avenir/Avenir-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/avenir/Avenir-Heavy.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Black';
  src: url('wfonts/avenir/Avenir-Black.eot'); /* IE9 Compat Modes */
  src: url('fonts/avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/avenir/Avenir-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/avenir/Avenir-Black.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir-Medium';
  src: url('wfonts/avenir/Avenir-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/avenir/Avenir-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/avenir/Avenir-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/avenir/Avenir-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-MediumOblique';
  src: url('wfonts/avenir/Avenir-MediumOblique.eot'); /* IE9 Compat Modes */
  src: url('fonts/avenir/Avenir-MediumOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/avenir/Avenir-MediumOblique.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/avenir/Avenir-MediumOblique.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
}

/*body{
  background: blue;
  color: #252525;
  margin: 0;
  width: 100%;
  min-height: 100% !imporant;
  height: 100% !imporant;
  display: block;
}*/

html{
  position: relative;
  height: 100%;
}

.parentColor{
  background: #fff;
  color: #252525;
}

.parentLayout {
  margin: 0 195px;
}

.navbar {
  height:80px;
  background:rgba(255,255,255,0.9) !important;
  margin-bottom:80px;
}

.nav-button{
  color:black;
  font-family: 'Avenir-Heavy', sans-serif;
  text-transform: none;
  font-size: 21px;
}

.nav-button:hover{
  color:#1CB984;
  background:white;
}

.nav-button:focus{
  color:#1CB984;
  background:white;
}

.nav-button-active{
  color: #1CB984;
  text-transform: none;
  font-family: 'Avenir-Heavy', sans-serif;
  font-size: 21px;
}

.intro-header {
  font-family: 'Avenir-Heavy', sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 49px;
  letter-spacing: 1.69px;
}

.cover-header{
  font-family: 'Avenir-Heavy', sans-serif;
  font-size: 75px;
}

.cover-content{
  font-family: 'Avenir-Medium', sans-serif;
  font-size: 20px;
  line-height: 32px;
  padding: 30px 0px;
}
.logo{
  cursor: pointer;
}
.cover-button{
  width: 254px;
  height: 54px;
  padding:7px 0px;
  color: #fff;
  background: #333333;
  font-family: 'Avenir-MediumOblique', sans-serif;
  font-size: 21px;
  font-style: italic;
  text-transform: none;
  margin: 0px
}

.md-button.cover-button:hover{
  width: 254px;
  height: 54px;
  padding:7px 0px;
  color: #fff;
  background: #000;
  font-family: 'Avenir-MediumOblique', sans-serif;
  font-size: 21px;
  font-style: italic;
  text-transform: none;
  margin: 0px
}
.content-large{
  font-family: 'Avenir-Book', sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 1.52px;
}


.cover-image{
  margin: 50px 0;
  width: 1050px;
}

/*.mirror-cover{
  background: url(media/Mirror-cover.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 505px
}*/

.mirror-cover{
  background: url(media/Mirror-cover.png) no-repeat;
  background-size: 100%;
  height: 505px
}

.case-study{
  color:#495E70;
  font-family: 'Avenir-Black', sans-serif;
  text-transform: none;
  font-size: 21px;
  letter-spacing: 3.08px;
}

.content{
  color:#252525;
  font-family: 'Avenir-Book', sans-serif;
  text-transform: none;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.57px;
}

.margin-100{
  margin-bottom: 100px;
}

.margin-50{
  margin-bottom: 50px;
}

.padding-200{
  margin: 0px 200px;
}

.content-header-main {
  font-family: 'Avenir-Heavy', sans-serif;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.42px;
  text-transform: uppercase;
}

.content-header-sub {
  font-family: 'Avenir-Heavy', sans-serif;
  font-size: 21px;
  line-height: 27px;
  letter-spacing: 1.37px;
  text-transform: uppercase;
}

.quote{
  font-family: 'Libre Baskerville', serif;
  font-size: 21px;
  line-height: 40px;
  letter-spacing: 0.44px;
  width:333px
}

.insights-header{
  font-family: 'Avenir-Heavy', sans-serif;
  font-size: 21px;
  line-height: 33px;
  letter-spacing: .33px;
}

.img-width{
  width:1049px;
}

/*.img-width{
  width:690px;
}*/

.img-label{
  color:#8A8A8A;
  font-family: 'Avenir-Book', sans-serif;
  text-transform: none;
  font-size: 14px;
  padding-top:10px;
}

.letter{
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}



/*.mirror-cover2{
  background: url(media/mirror/mirror-casestudy.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 770px
}*/
